.item-ul-cls {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;
}

.item-ul-cls li {
  padding: 0;
  margin: 5px;
  list-style: none;
}


.card {
    display: flex;
    flex-direction: column;
    border: 2px solid #4890c7;
    border-radius: 25%;
}

.card img {
    max-width: 220px;
    max-height: 220px;
    padding: 10px;
}
.card-info-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.item-name {
    height: 20%;

}

.item-price {

}
.cart-btn-container{

}

.cart-btn{
    border: 1px;
    background-color: #4890c7;
    color: aliceblue;
    border-radius: 10px;
}

@media (max-width:750px) {
    .card img {
        max-width: 150px;
        max-height: 150px;
        padding: 5px;
    }
    /* .item-price {
        max-width: ;
    }
     */
  }