.nav-bar {
}

.nav-bar ul {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    background-color: #4890c7;

  /* background: linear-gradient(
    to right,
    transparent,
    #4890c7,
    #4890c7,
    transparent
  ); */
}

.nav-bar li {
  padding: 0;
  list-style: none;
}

.nav-bar a {
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}
